body { 
    max-width: 600px; 
    margin: 0 auto !important; 
	float: none !important; 
}
h1 {
    font-size: 40px;
    color: lightcoral;
    text-align: center;
}
h2 {
    color: lightslategray;
}
h3 {
    color: lightseagreen;
}
ul {
    list-style-type: none;
}
p {
    font-size: 24px;
    color: lightblue
}
p:hover {
    font-size: 24px;
    color: darkblue
}
#selfie {
    width: 200px;
    margin: 12px;
}