body { 
    max-width: 700px; 
    margin: 0 auto !important; 
	float: none !important; 
}
h1 {
    font-size: 48px;
    color: lightcoral;
    text-align: center;
}
h2 {
    color: lightslategray;
    font-size: 24px;
    margin-bottom: -10px;
}
h3 {
    color: lightseagreen;
}
h4 {
    margin-bottom: -10px;
}
ul {
    list-style-type: none;
}
li {
    font-size: 18px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
.info {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    color: gray;
    margin: 15px;
}
.classInfo {
    display: inline-block;
    width: 200px;
    text-align: center;
}