body { 
    max-width: 700px; 
    margin: 0 auto !important; 
	float: none !important; 
}
h1 {
    font-size: 42px;
    color: lightcoral;
    text-align: center;
}
h2 {
    color: lightslategray;
    font-size: 24px;
}
h3 {
    color: lightseagreen;
}
ul {
    list-style-type: none;
}
li {
    font-size: 18px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }